h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

/*line chart css*/

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis-title {
  fill: none;
  stroke: black;
  stroke-width: 0.5px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/*pie chart css*/

.arc text {
  font-size: 10px;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}
